#completer{
  transition: all 800ms ease-in-out;
  /*background-color:aliceblue;*/

}
#completar:hover{
  background-color: rgb(54, 175, 54);
  transition: all 500ms ease-in-out;
}

#eliminar:hover{
  background-color: rgba(255, 0, 0, 0.562);
  border: 3px solid rgba(255, 0, 0, 0.562);
}

.completada{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  text-decoration: line-through;

}

.noCompletada{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.containerTarea {
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  background-color: transparent;
  border: 3px solid purple;
}

.containerTareaCompletada {
  transition: all 1s ease-in-out;
  /* background-image: linear-gradient(to left, #6eaf71,#70d28a) */
  background-color: purple;
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
}

#completada{
  border: 3px solid rgb(26, 0, 59);
}

#eliminar{
  border: 3px solid rgb(26, 0, 59);
}
